%table#projects.tablesorter
  %thead
    %tr
      %th Projektin nimi
      %th Projektin kuvaus
      -Project.task_names.each do |t|
        %th= t.to_s
  %tbody
    -@projects.each do |p|
      %tr
        %td= p.name
        %td= p.description
        -p.tasks_in_order!.each do |t|
          %td{:class => "task", "data-id" => t.id, "style" => "background-color:#{t.status!.color}"}= t.status!.code
.new-project
  -form_for @project do |f|
    =f.text_field :name
    =f.text_field :description
