%ul
  -@project_groups.each do |pg|
    %li
      = link_to pg.name, projects_path(:'group-id' => pg.id)
      %span{ :style => "font-size:small;"}
      = link_to "muokkaa", edit_project_group_path(pg)
